<!doctype html>
<html>
      <link rel="stylesheet" type="text/css" href="/css/swag.css">
      <link rel="shortcut icon" href="/img/favicon.ico">
   <head>
   </head>
   <body>

         <div class="topnav">
               <a href="/">Home</a>
               <a href="/wallofshame">Wall</a> 
               <a href="/score">Scoreboard</a>
               {%for i in range(0, labsbuilt)%} 
               <a href="/lab{{i+1}}">Lab {{i+1}}</a>
               {%endfor%}
         </div>

         <h6 align="left"> </h6> <h1>Welcome to Lab {{ labnum }} </h1>
         <h5>SQL Query :  {{ sqlquery }} </h3>
          <h5>Filter :  {{ refilter }} </h3>
         <form action="/lab{{ labnum }}" method="POST">
        <h3>Dog Facts</h3><input type="text" name="value"><br>
                        <input type="hidden" value={{ labnum }} name="lab"><br>
            <input type="submit" value="Submit">
          </form>          

          

         <h3>{{ returndata }}</h3>

          <form action="/lab{{ labnum }}" method="POST">
            <h3>Submit Answer</h3> <input type="text" name="answer"><br>
                        <input type="hidden" value={{ labnum }} name="lab"><br>
            <input type="submit" value="Submit">
          </form>
   </body>
</html>