<html>
      <link rel="stylesheet" type="text/css" href="/css/swag.css">
      <link rel="shortcut icon" href="/img/favicon.ico">
   <header>
      Welcome to SQLi lab!

   </header>

   <body>
               <!--Required for emoji-->
               <meta charset="UTF-8">
       
       <h1 align="center">SQLi Lab</h1>
       <br><br><br>
       <h3 align="center">You have been hired as a l33t HAX0R to exploit security flaws! <br>To receive precious internet points, perform SQL injections to retrieve Bobby's lost password<br></h3>
       <p align="center">
          <br>
          <h3 align="center">Each challenge is vulnerable to SQLi</h3>
          <br>
          <h3 align="center">You will be presented with a Python re filter and the SQL query being created on the backend</h3><br>
          <br><br>
          <br>
          <a align="center" id="startchallenge" href="/lab1">Start The Challenge</a><br>
          <a align="center" href="/signup">Sign Up!</a><br>
          <a align="center" href="/score">Scoreboard</a>
       </p>
   </body>
</html>