<html>
      <link rel="stylesheet" type="text/css" href="/css/swag.css">
      <link rel="shortcut icon" href="/img/favicon.ico">
   <header>
         <div class="topnav">
               <a href="/lab1">Start Challenge!</a>
               <a href="/signup">Sign Up</a>
               <a href="/wallofshame">Wall of Shame</a> 
               <a href="/score">Scoreboard</a>
               <a href="/rebuildlab">Nuke!!!!!</a>
         </div>

   </header>

   <body>
               <!--Required for emoji-->
               <meta charset="UTF-8">
       
       <h1 align="center">SQLi Lab</h1>
       <h2> {{ custommessage }} <h2></h2>
       <br>
       <h2>You have been hired as a l33t HAX0R to exploit security flaws!</h2>
       <h3 align="center">
            <br><br>
            Each challenge consist of a docker container running MySQL with a unique data set
            <br><br>
            The form parameter that is vulnerable to SQLi is "value"
            <br><br>
            The goal of each challenge is to retrieve Bobby's loss password
            <br><br>
            Careful clicking the NUKE button....
       </h3>
   </body>
</html>